<h1>hi</h1>

<% if (currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.username %></h1>
    <a href="/logout">LOG OUT</a>
  <% } else { %>
<form action="" method="POST">
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <button>Log In</button>
  </form>
  <%}%>